* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #d4d4d4;
    font-family: sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #a3a3a3;
}
.numberBlock {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.number {
    width: 94%;
}
.numberBlock img {
    height: 20px;
    margin-top: 15px;
}
.search_block {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search {
    width: 50%;
}
.ser_but {
    width: 25%;
}
.add_but {
    width: 25%;
}
.add_num {
    width: 90%;
    background-color: rgba(8, 8, 8, 0.78);
    margin: 0 auto;
    display: none;
    flex-direction: column;
    border-radius: 6px;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin-top: 30px;
    opacity: 0;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.num_edit {
    width: 90%;
    background-color: rgba(8, 8, 8, 0.78);
    margin: 0 auto;
    display: none;
    flex-direction: column;
    border-radius: 6px;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin-top: 30px;
    opacity: 0;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.num_info {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #b7b7b7;
}
.num_info:nth-child(2n) {
    background-color: #c5c5c5;
}
.num_info_cent {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.num_info button {
    height: 30px;
    border-radius: 6px;
    border: none;
    width: 20%;
    background-color: #ffffff;
}
.add_num input, .search_block input, .num_edit input{
    margin: 10px 10px 0 10px;
    height: 30px;
    border-radius: 6px;
    border: none;
    padding: 0 20px;
}
.search_block input {
    margin: 10px;
}
.add_num input:last-child, .num_edit input:last-child {
    margin: 10px 10px 10px 10px;
}
.butBlock {
    display: flex;
    flex-direction: row;
}
#add_num_but, #close_num_but {
    width: 50%;
    margin: 10px 10px 10px 0px;
}
#add_num_but {
    margin-left: 10px;
}
#change_num_but {
    width: 50%;
    margin-left: 10px;
}